################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/compiled/.vs/LIMS/v15
/compiled/aspnet_client/system_web/4_0_30319/crystalreportviewers13
/Controls/CheckBox/obj
/Controls/DateRange/obj
/Controls/File/obj
/Controls/Image/obj
/Controls/Input/obj
/Controls/Link/obj
/Controls/MultyCheck/obj
/Controls/NumberRange/obj
/Controls/Select/obj
/DataBase/bin/Debug
/DataBase/obj/Debug
/lib/bin/Debug
/lib/obj/Debug
/mvc/.vs/LIMS/v15
/mvc/bin
/mvc/obj/Debug
/mvc/Plugins
/mvc/uploads/Documents
/mvc/connectionStrings.config
/mvc/appSettings.config
/MedCoreLib/bin/Debug
/MedCoreLib/obj/Debug
/MedCoreweblib/bin/Debug
/MedCoreweblib/obj/Debug
/SLN/.vs
/SLN/packages
/Translations/bin
/Translations/obj/Debug
/weblib/bin/Debug
/weblib/obj/Debug
/DataBase/Database.dbmdl
/DataBase/Database.jfm
/DataBase/Database.refactorlog
/.vs/MedCore/v15
/.vs
/mvc/uploads
*.user
/compiled
/GofraLib/bin/Debug
/GofraLib/bin/Debug
/Gofraweblib/bin/Debug
/GofraLib/obj
/Gofraweblib/obj
/mvc/trace.config
/mvc/services.config
/mvc/email.config
/mvc/compilation.config
/mvc/client.config
/mvc/bindings.config
/mvc/behaviors.config
