@using Weblib.Models
@{
    Layout = "~/Views/Master/_AdminSimplified.cshtml";
}
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html">@LIB.Tools.Utils.Config.GetConfigValue("SiteName")</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg@(ViewData["loginfail"] == null ? "" : " msg-error")">@Html.Raw(ViewData["LoginFail"] == null ? "Introduceti Nume utilizator si parola" : "<i class=\"fa fa-times-circle-o\"></i> Login sau parolă întrodusă incorect!")</p>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group has-feedback@(ViewData["LoginFail"] == null ? "" : " has-error")">
                <input type="text" name="Login" class="form-control" placeholder="Utilizator">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback@(ViewData["LoginFail"] == null ? "" : " has-error")">
                <input type="password" name="Password" class="form-control" placeholder="Parola">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck" style="display:none">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Enter</button>
                </div><!-- /.col -->
            </div>
        }
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->