@using Weblib.Models
@{
    Layout = "~/Views/Master/_AdminSimplified.cshtml";
}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a style="display:block;margin: 0px auto;" href="@LIB.Tools.Utils.URLHelper.GetUrl("")">
                <img src="@LIB.Tools.Utils.URLHelper.GetUrl(@"Images\logo_btn.png")" />
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <section class="content">
                <div class="error-page">
                    <h2 class="headline text-red">500</h2>
                    <div class="error-content">
                        <h3><i class="fa fa-warning text-red"></i> Ceva nu a funcționat corect.</h3>
                        <p>
                            Ne pare rău, nu putem obține informațiile pentru moment. Încercați din nou mai târziu
                            sau <a href="@LIB.Tools.Utils.URLHelper.GetUrl("")">reveniți la pagina principală</a>.
                        </p>
                    </div>
                </div>
                <!-- /.error-page -->
            </section>
        </div>
        <!-- /.login-box-body -->
    </div>
    <div class="clear"></div>
