@model Weblib.Models.Common.CheckboxModel
@using Weblib.Models.Common
<div class="checkbox-row">
    @Html.Partial("../Controls/_checkbox", Model) <label for="@(!string.IsNullOrEmpty(Model.Id)?Model.Id:Model.Name)" class="caption checkbox-caption">@Html.Raw(Model.Caption)@Html.Raw(Model.AdditionalControl)</label>
</div>