@model Weblib.Models.Common.DocumentModel
@using Weblib.Models.Common
<div class="file-row">
    <div class="caption input-caption">
        @if (Model.ValidationType == LIB.AdvancedProperties.ValidationTypes.Required)
        { <div class="requred-indicator">*</div> } @(Model.Caption)
    </div>
    @Html.Partial("../Controls/_file", Model)
</div>