@using Weblib.Models.Common
@using Weblib.Models.Common.Enums
<label class="@(!string.IsNullOrEmpty(((TextboxModel)Model).Class)?((TextboxModel)Model).Class:"label")">
    @Html.Raw(((TextboxModel)Model).Value)
</label>