<div class="confirmation-overlay">
    <div class="confirmation-container">
        <div class="confirmation-message">

        </div>
        <div class="confirmation-buttons">
            <a id="message_ok" onclick="return false;" href="#">Da</a>
            <a id="message_other" style="display:none" onclick="return false;" href="#"></a>
            <a id="message_cancel" onclick="return false;" href="#">Nu</a>
        </div>
    </div>
</div>