@using Weblib.Models.Common
<div class="data-grid-title">
    <div class="data-grid-title-control">
        @(((LIB.AdvancedProperties.AdvancedProperty)Model).Common.DisplayName)
    </div>     
</div>