<div class="modal modal-info modal-clone-confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="closeModalClone()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Clone Confirmation Dialog</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Introduceti denumire noua</label>
                    <input type="text" id="name_input" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="closeModalClone()" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="do_clone_item(this)" class="btn btn-outline" data-dismiss="modal"><i class="fa fa-clone"></i> OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>