@{
    Layout = "~/Views/Master/_Ajax.cshtml";
}


<div class="title">
    AGENŢIA NAŢIONALĂ PENTRU SIGURANŢA ALIMENTELOR<br />
    DIRECŢIA MUNICIPALĂ/RAIONALĂ PENTRU SIGURANŢA ALIMENTELOR</div>
<div class="title">PROCES VERBAL</div>

<div class="sub-title">
    de prelevare a eşantioanelor<br />

    din "_____"____________________20___
</div>

<div class="line" ></div>
<div class="sub-line">( denumirea agentului economic, adresa juridică, reprezentantul)</div>
<div class="line" ></div><br/>

<div class="line-title">Prelevarea mostrelor efectuat la</div>
<div class="line"> </div>
<div class="sub-line">( locul şi condiţiile de păstrare)</div>
<div class="line"><span></span></div>
<div class="sub-line">( data, locul şi ora eşantionării)</div>

<div class="line-title">De către inspectorul STSA </div>
<div class="line"></div>
<div class="sub-line">( numele, prenumele, adresa )</div>

<div class="line-title">În prezenţa</div>
<div class="line"></div>
<div class="sub-line">( reprezentantul agentului economic )</div>

<table class="printTable" style="margin-top:35pt"> 
    <tr style="height: 80px;" > 
    <th>Denumirea produsului<br/>
        Producătorul</th> 
    <th>Un. De măsură</th> 
    <th>Mărimea lotului</th> 
    <th>Data fabricării</th>
    <th>Termen de valabilitate</th>
    <th>Ambalarea</th>
    <th>Cantitatea mostrelor</th>
    <th>Proba de control</th>
    </tr> 
    <tr style="height: 40px;"> 
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td>
    <td></td>
    <td></td> 
    <td></td>
    <td></td>
          </tr> 
    <tr style="height: 40px;"> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
    </tr> 
    </table>


    <br />
    Scopul încercărilor:
    <br />

    <div class="line"></div>

  <br />
   La indicii:
  <br/>

<div class="line"></div>
<div class="sub-line">( identificarea transportului )</div>
    <br />
 <div>Eşantioanele sunt sigilate (sigila ANSA № <span class="line">_____</span>), marcate şi expediate la <span class="line">_________</span>.
      Proba de control se păstrează sub responsabilitate la agentul economic. 
      Valorificarea lotului de marfă menţionat, se va efectua numai după obţinerea rezultatelor de laborator, şi a certficatului sanitar-veterinar de la STSA </div>
    <table cellspacing="0" style="width: 100%;margin-top:30pt">
        <tbody>
            <tr>
                <td style="border: 0px">
                    <div style="text-align:left">Inspector principal STSA</div>
                </td>
                <td>
                    <div class="line" style="width:60%"></div>
                </td>
            </tr>
            <tr>
                <td style="border: 0px">
                    <div  style="text-align:left ;margin-top:25px">Reprezentanul agentului economic</div>
                </td>
                <td style="width: 60%;">
                    <div class="line" style="margin-top:25px"></div>
                </td>
            </tr>
            <tr>
                <td style="border: 0px">
                    <div style="text-align:left ;margin-top:25px">Eşantioanele au fost primite la</div>
                </td>
                <td style="width: 60%;">
                    <div class="line" style="margin-top:25px"></div>
                </td>
            </tr>
        </tbody>
    </table>
