@using Weblib.Models.Common
<form class="search-data-grid-container data-grid-container">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="search-data-grid data-grid" data-type="@(ViewData["Grid_Type"])">
        <div class="data-grid-row">    
            @foreach (LIB.AdvancedProperties.AdvancedProperty property in (LIB.AdvancedProperties.AdvancedProperties)ViewData["Search_Properties"])
            {
                @:<div class="data-grid-data"> 
                    <div class="data-grid-data-title">
                        @(property.Common.DisplayName):
                    </div>
                    Html.RenderAction(property.ControlView, property.Control, new { model = property.GetDataProcessor().SetValue(property.PropertyDescriptor.GetValue(ViewData["Search_Item"]), property, (LIB.Tools.BO.ItemBase)ViewData["Search_Item"], false, LIB.AdvancedProperties.DisplayMode.Search) });
                @:</div>
            }
        </div>
        <div class="clear"></div>
    </div>
    <div class="search-controls">
        <a href="#" class="search-controls-subbmit" onclick="return SearchReport()"></a>
        <a href="#" class="search-controls-clear"></a>
    </div>
</form>