<div class="modal modal-danger modal-delete-confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="closeModalDelete()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Delete Confirmation Dialog</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить "{0}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="closeModalDelete()" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="do_delete_item(this)" class="btn btn-outline"><i class="fa fa-trash-o"></i> Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>