<?xml version="1.0"?>
<appSettings>
  <add key="MailToSupport" value=""/>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="LoginPage" value="~/Account/Login" />
  <add key="CPLoginPage" value="~/Account/CPLogin" />
  <add key="SMILoginPage" value="~/Account/SMILogin" />
  <add key="MaxUserSessionTimeout" value="8000" />
  <add key="WebSiteRootURL" value="http://gofra/" />
  <add key="WebSiteLocalURL" value="http://gofra/" />
  <add key="SiteName" value="Gofra" />
  <add key="InstitutionName" value="SAP-SIMA" />
  <add key="AppDevName" value="Gofra" />
  <add key="UploadPart" value="~/uploads/" />
  <add key="UploadURL" value="uploads" />
</appSettings>