<client>
  <endpoint address="http://erbt:81/Service.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IExceptionService" contract="ExceptionHandler.IExceptionService"
    name="BasicHttpBinding_IExceptionService" />
  <endpoint address="http://erbt:81/Service.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IExceptionService1" contract="ServiceExceptionHandler.IExceptionService"
    name="BasicHttpBinding_IExceptionService1" />
</client>